<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Mars Data Consolidator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class = "jumbotron text-center">        
        <div class="container-fluid" href="/scrape" >
            <img src= "{{mars.feature_img}}" alt="mars">
            <h1> The Latest from Mars</h1>
            <p>This site provides a summary of the latest pictures,
                weather and news about Mars.  It scrapes from NASA,
                the Jet Propulsion Lab, the USGS Astrogeology site, 
                and the Mars Twitter account.       
            </p>
             
        </div>

    </div>
    <div class = "col-md-4">
        <h3>Latest News</h3>
        <p>insert from dataframe</p>
        <p>
            <a class="btn btn-secondary" href="#" role="button">
                View More
            </a>
        </p>
    </div>
    <div class = "col-md-4">
        <h3>Weather</h3>
        <p> {{mars.weather}}</p>
    </div>
    <div class = "col-md-4">
        <h3>Hemispheres</h3>
        <p> insert from dataframe</p>
    </div>
</body>

</html>